<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zm.platform.dao.SubjectDao">
 <insert id="insert" useGeneratedKeys="true" keyProperty="subjectId"> 
	 insert into subject(subjectId , subjectName , subjectType , subjectCode ) 
 	 values(#{subjectId} , #{subjectName} , #{subjectType} , #{subjectCode} )
</insert>

<delete id="deleteById">
	delete from subject where subjectId = #{subjectId}
</delete>
 <update id="update" parameterType="Object">  
	update subject  set subjectId = #{subjectId} , subjectName = #{subjectName} , subjectType = #{subjectType} , subjectCode = #{subjectCode}  
	where subjectId = #{subjectId}   
</update> 

	<update id="updateNotNull" parameterType="Object">
		update Subject  set   <include refid="Update_Column" />
		where subjectId = #{subjectId}
	</update>
 <sql id="Update_Column"> 
	 subjectId=#{subjectId} 
	<if test="subjectName != null and subjectName != ''" >
		 , subjectName =  #{subjectName}
	</if>
	<if test="subjectType != null and subjectType != ''" >
		 , subjectType =  #{subjectType}
	</if>
	<if test="subjectCode != null and subjectCode != ''" >
		 , subjectCode =  #{subjectCode}
	</if>
</sql>

<select id="findAll" resultType="com.zm.platform.domain.Subject">
	 select * from subject
</select>

<select id="findById" resultType="com.zm.platform.domain.Subject">
	 select * from subject where subjectId=#{subjectId}
</select>

<select id="queryByList" resultType="com.zm.platform.domain.Subject"  parameterType="Object">
	 select SQL_CALC_FOUND_ROWS * from subject
	<include refid="Example_Where_Clause" />
	<include refid="sortsql" />
</select>
<sql id="sortsql">
	<trim >
		<if test="sort != null  and sort!=''  and order!=null and order!=''">
			order by ${sort}   ${order} 
		</if>
		<if test="page != null and rows!=null">
			limit #{page} ,#{rows}
		</if>
	</trim>
</sql>
 <sql id="Example_Where_Clause"> 
	 where 1=1 
<trim  suffixOverrides="," >
	<if test="subjectId != null and subjectId != 0" >
		 and subjectId =  #{subjectId}
	</if>
	<if test="subjectName != null and subjectName != ''" >
		 and subjectName =  #{subjectName}
	</if>
	<if test="subjectType != null and subjectType != ''" >
		 and subjectType =  #{subjectType}
	</if>
	<if test="subjectCode != null and subjectCode != ''" >
		 and subjectCode =  #{subjectCode}
	</if>
</trim>
</sql>

<select id="findObject" resultType="com.zm.platform.domain.Subject"  parameterType="Object">
	 select  * from subject
	<include refid="Example_Where_Clause" />
order by subjectId desc limit 0,1
</select>
</mapper>