footer {
	width: 100%;
	margin-top: 100px;
	background: #e7e3e5;
}

.footer {
	width: 1200px;
	padding: 50px 0px;
	min-width: 1200px;
	overflow: auto;
	margin: auto;
}

.left_logo {
	float: left;
	margin-left: 150px;
}

.right_contanct {
	float: left;
}

.right_contanct ul li {
	float: left;
	line-height: 30px;
	margin-left: 90px;
	font-size: 14px;
}

.blcak {
	font-weight: bold;
	padding-bottom: 10px;
}

.bottom_footer {
	background: #333;
	line-height: 50px;
	color: #fff;
	text-align: center;
}

.black {
	color: #000
}